!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/chosen.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(type="text/javascript", src="/javascripts/chosen.jquery.min.js")
    script(type="text/javascript", src="/javascripts/jquery.isotope.min.js")
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/store.js')
  body
    div#posts
    div#sidebar
      p#next5 Display next 5
      p#count Display All New
      br 
      form(action='', method='post', id='form')
        p(class='note', style='font-weight:900') Follow States, Cities, Both, Any:
        select(multiple='multiple', name='states', data-placeholder='Click for States', id='states', class='chzn-select')
          - each state in states
            option(id=state, name=state, value=state) 
              !{state}
        br
        select(multiple='multiple', name='cities', data-placeholder='Click for Cities', id='cities', class='chzn-select')
          - each city in cities
            option(id=city, name=city, value=city) 
              !{city}
        br
        input(type='checkbox', name='occupy', id='occupy', value='occupy') 
        label(for='occupy', class='note') Track #OWS + related terms
      br
      div#filters
        p Filters
        input(type='checkbox', name='links', id='links', value='links') 
        label(for='links', class='note') Updates w/ Links Only
        br
        input(type='checkbox', name='twitter', id='twitter', value='twitter') 
        label(for='twitter', class='note') Twitter
        br
        input(type='checkbox', name='web', id='web', value='web') 
        label(for='web', class='note') Web Updates (not Twitter)
        br
        input(type='checkbox', name='tumblr', id='tumblr', value='tumblr')
        label(for='tumblr', class='note') Tumblr Only
  script(src='/javascripts/live.js')
